.traffic-light{
    display: inline-block;
    padding: 10px;
    margin: auto;
}

.light{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.light-glow{
    box-shadow: 0px 0px 10px 5px lightyellow;
}

button{
    align-self: ;
}